body {
    margin:0;
    background-color: #ffffff;
    line-height: 1.5;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    color: #202124;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

h1 {
    margin: 1rem 0;
    line-height: 1.25;
    font-size: 3rem;
    font-weight: 100;
}

a {
    color: #202124;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

.header {
    display: flex;
    justify-content: center;
  }

.content-width {
    max-width: 70ch;
    /* width: calc(100% - 4rem); */
    margin: 0 auto;
}
.calc {
    display: flex;
    justify-content: center;
}
.calc-body {
    background-color: #ffffff;
    width:400px;
    border: 2px solid #202124;
    border-radius: 20px;
}

.calc-screen {
    background-color: #ffffff;
    margin: 20px auto;
    width: 360px;
    /* height: 170px; */
    height: 120px;
    border-radius: 15px;
    border: 1px solid #202124;
}

/* .secondary-screen {
    height: 30px;
    text-align: right;
    padding: 10px;
    font-size: 2rem;
    font-family: 'Calculator', "PT Sans", Calibri, Tahoma, sans-serif;
    font-weight: 100;
} */

.main-screen {
    height: 100px;
    text-align: right;
    padding: 10px;
    font-size: 5rem;;
    font-family: 'Calculator', "PT Sans", Calibri, Tahoma, sans-serif;
    font-weight: 600;
}

.calc-keypad {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:0.5rem;
    background-color: #ffffff;
    margin: 20px auto;
    width:360px;
    height: 370px;
    border-radius: 15px;
    border: 1px solid #202124;
    padding: 15px;
    box-sizing: border-box;
}

.button {
    border: 1px solid #202124;
    border-radius: 5px;
    /* width: 85px; */
    font-size: 2rem;
    font-weight: 450;
    transition: 0.5s;
}

.button:active {
    transform: translateY(2px);
}

.fun {
    background-color: #D9DCE0;
}

.num {
    background-color: #F0F3F4;
}